<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ariets.abercrombie"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Used to connect to the internet to pull in the promotions. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Used to check to see if the device has a network connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.ariets.abercrombie.AbercrombieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AfPromotionsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.AfPromotionDetailActivity"/>
    </application>

</manifest>
